@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Outfit', sans-serif;

  --color-midnight-900: #020617;
  --color-midnight-800: #0f172a;
  --color-midnight-700: #1e293b;

  --color-indigo-500: #6366f1;
  --color-indigo-600: #4f46e5;
  --color-indigo-700: #4338ca;

  --color-surface-light: rgba(255, 255, 255, 0.03);
  --color-surface-medium: rgba(255, 255, 255, 0.07);
  --color-surface-border: rgba(255, 255, 255, 0.1);

  --animate-fade-in: fadeIn 0.5s ease-out;
  --animate-slide-up: slideUp 0.5s ease-out;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes slideUp {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

body {
  background-color: var(--color-midnight-900);
  color: white;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-midnight-900);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-surface-border);
  border-radius: 9999px;
  transition: background-color 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-surface-medium);
}